/* variables */
:root {
  --light-blue: #22aac3;
  --blue: #5d8eed;
  --light-green: #78dd7e;
  --midnight-blue: #278b9d;
  --dark-blue: #222f3f;
  --black: #212121;
  --white-blue: #d8eff3;
  --white-light-blue: #c2ecf3;
  --sun-border: #dbb862;
  --sun-fill: #eada5b;
  --main-white: #fafafa;
  --secondary-white: #f5f5f5;
  --grey-text: #918581;
  --main-grey: #9e9e9e;
  --dark-grey: #6d6d6d;
  --light-grey: #eee;
  --purple: #673ab7;
  --uv-green: #94cc46;
  --main-black-text: #333;
}

/* --------------------reset-------------------- */
body,
p,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* --------------------base styles-------------------- */

* {
  font-family: Helvetica, Arial, sans-serif;
}

.sun-style {
  font-weight: bold;
  color: var(--sun-fill);
  border-color: var(--sun-border);
  font-size: x-large;
}
.moon--style {
  font-weight: bold;
  color: var(--black);
  font-size: x-large;
}

.main--white {
  color: var(--main-white);
  font-weight: bold;
}
.secondary--white {
  font-weight: normal;
  color: var(--secondary-white);
}
.dark--grey {
  font-weight: normal;
  color: var(--dark-grey);
}
.main--black {
  color: var(--black);
}
.main--purple {
  color: var(--purple);
}
.radius--20 {
  border-radius: 20px;
}
.main--black-text {
  color: var(--main-black-text);
}

body {
  position: relative;
}

#droplet__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

/* --------------------page header-------------------- */
/* --------------------greeting-------------------- */

/* search input */
#search__container {
  text-align: center;
  margin: auto;
  line-height: 4;
}

#header__container h6 {
  margin-left: 2em;
}

#search__container input {
  border-radius: 2em;
  outline: none;
  width: 280px;
  padding: 12px 20px;
  border: 1px solid var(--dark-grey);
}
#search__container input::placeholder {
  color: var(--main-black-text);
}

/* --------------------main section-------------------- */
#main__container {
  padding: 0 0 1em 0;
}

#header__container {
  padding: 2em 0 0.7em 0;
  line-height: 2.7;
}

#weather__report--container {
  width: 290px;
  height: 153px;
  margin: auto;
  box-sizing: border-box;
  background: linear-gradient(to bottom, var(--light-blue), var(--blue));
}

#air__quality--container {
  width: 290px;
  height: 125px;
  margin: 0.8em auto;
  box-sizing: border-box;
  background: linear-gradient(to bottom, var(--blue), var(--light-blue));
}

.main--header {
  padding: 1.4em 0 1em 1em;
}
.main--header i {
  transform: translateY(0.4em);
  padding-right: 0.2em;
}
.main--header .secondary--white {
  margin-left: 2.5em;
  font-size: small;
}
.main--info {
  padding: 0 0 0 3em;
}
.main--info .main--white {
  font-size: small;
  font-weight: normal;
}

/* --------------------temperature container-------------------- */

#temperature__display--container {
  padding: 8em 0 3em 0;
  display: flex;
  justify-content: space-between;
}
#temperature__container h2 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}
.temperature--display-card {
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
}
.temperature--display-card .temperature--portion-day {
  font-weight: bold;
  font-size: large;
}

.card--one {
  border-right: 1px solid black;
  height: 10em;
}
.card--one i {
  transform: translateY(-2em);
}
.card--two {
  border-right: 1px solid black;
  height: 15em;
  transform: translateY(-5em);
}
.card--two i {
  transform: translateY(-3em);
}
.card--three {
  border-right: 1px solid black;
  height: 10em;
}
.card--three i {
  transform: translateY(-2em);
}
.card--four {
  height: 10em;
}
.card--four i {
  transform: translateY(-1em);
}

/* --------------------tomorrow section-------------------- */
#tomorrow__container {
  width: 290px;
  height: 175px;
  box-sizing: border-box;
  margin: 0 auto 1em auto;
  background: linear-gradient(to bottom, var(--light-green), var(--light-blue));
}

#tomorrow__header {
  padding: 2em 0 2em 2em;
}
#tomorrow__header .secondary--white {
  font-size: small;
}
#tomorrow__info {
  padding: 0 0 0 2em;
}
#tomorrow__info .main--white {
  font-size: large;
}

/* --------------------uv section-------------------- */
#UV__container {
  width: 290px;
  height: 132px;
  box-sizing: border-box;
  margin: 0 auto 3em auto;

  background: linear-gradient(to bottom, var(--midnight-blue), var(--black));
}

.uv--index-box {
  background: var(--uv-green);
  padding: 5px 20px;
  border-radius: 20px;
  margin-left: 1em;
}

.uv--main {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 0 0 0 2em;
}
.uv--main-info {
  display: flex;
  align-items: center;
}

/* --------------------weather predictions-------------------- */

#weather__predictions--container {
  margin-bottom: 3em;
}

#weather__predictions--container h1 {
  font-size: x-large;
  text-align: center;
  font-weight: normal;
  padding-bottom: 2em;
  position: relative;
}

#next__day--container {
  width: 290px;
  height: 125px;
  margin: 0 auto 1em auto;
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--white-blue),
    var(--white-light-blue)
  );
}

#day__after--next-container {
  width: 290px;
  height: 125px;
  margin: 0 auto 3em auto;
  background: linear-gradient(
    to top,
    var(--white-blue),
    var(--white-light-blue)
  );
  position: relative;
}
#next__day--description {
  margin-left: 2em;
  font-weight: bold;
  font-size: large;
}
#day__after--next-description {
  margin-left: 2em;
  font-weight: bold;
  font-size: large;
}

.prediction--header {
  position: absolute;
  top: 50%;
  left: 2em;
  transform: translateY(-50%);
}
.prediction--header .low {
  margin-left: 2em;
}
.prediction--info {
  position: absolute;
  top: 50%;
  right: 2em;
}

/* --------------------footer-------------------- */
#footer__container {
  height: 50px;
  width: 100%;
  bottom: 0;
  display: flex;
  font-size: small;
  position: absolute;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  color: var(--grey-text);
  background: var(--light-grey);
}

/* --------------------mobile styles-------------------- */

/* --------------------small tablet styles-------------------- */
@media screen and (min-width: 620px) {
  #droplet__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
    column-gap: 1em;
  }
  #header__container {
    grid-column: 1/3;
    margin-right: auto;
  }
  #main__container {
    padding: 0;
  }
  #temperature__display--container {
    padding: 6em 0 0 0;
  }
  #UV__container {
    transform: translateY(-15em);
    grid-column: 1/2;
  }
  #weather__predictions--container {
    grid-row: 3/4;
    grid-column: 2/3;
    margin-bottom: 3em;
  }
  #weather__predictions--container h1 {
    padding: 0 0 1em 0;
  }
}

/* --------------------desktops styles-------------------- */
@media screen and (min-width: 1200px) {
  #droplet__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
    column-gap: 2em;
    height: 100vh;
    width: 70%;
  }
  #header__container {
    grid-column: 1/2;
    padding: 2em 0 0 2em;
    align-self: flex-end;
  }
  #main__container {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 0 0 2em;
    height: 5em;
  }
  #weather__report--container {
    margin: 0 1em 0 0;
    width: 359px;
    height: 207px;
  }
  #air__quality--container {
    margin: 0;
    width: 359px;
    height: 207px;
  }
  #temperature__container {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0 auto;
    width: 80%;
  }
  #tomorrow__container {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: flex-end;
  }
  #UV__container {
    transform: translate(0);
    grid-column: 2/3;
    grid-row: 2/3;
    height: 8em;
    align-self: flex-end;
  }
  #weather__predictions--container {
    grid-row: 3/4;
    grid-column: 2/3;
    margin-bottom: 3em;
  }
  #weather__predictions--container h1 {
    padding: 0 0 1em 0;
  }
}
